body {
  background-color: #222;
  color: azure;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-container {
  margin-top: 20px;
  display: grid;
  grid: auto-flow dense / 40px 40px 1fr;
  column-gap: 6rem;
  row-gap: 3rem;
}
.title{
  font-size: 40px;
}
button {
  cursor: pointer;
  color: inherit;
  height: 90px;
  width: 90px;
  font-family: inherit;
  padding: 20px;
  animation: baloon infinite 5s;
  border: none;
  border-radius: 300px;
}
button:hover {
  border: white solid 1px;
}
button:active {
  border: white solid 2px;
}
#angry {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: angryAnimation infinite 1s;
}
#excited {
  background-color: orange;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: nervousAnimation infinite 2.5s;
}
#happy {
  color: #111;
  background-color: #ff0095;
  display: flex;
  justify-content: center;
  align-items: center;
}
#anxious {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anxiousAnimation infinite 500ms;
}
#sad {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: baloon infinite 2s;
}
#calm {
  background-color: #bb5cbd;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: calmAnimation infinite 8s;
}
#nervous {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: nervousAnimation infinite 1s;
}
#bored {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: boredAnimation infinite 4s;
}
#confused {
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: confusedAnimation infinite 4s;
}
@keyframes baloon {
  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}
@keyframes angryAnimation {
  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}
@keyframes anxiousAnimation {
  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}
@keyframes nervousAnimation {
  25% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}
@keyframes calmAnimation {
  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}
@keyframes boredAnimation {
  50% {
    scale: 1.1;
    border-radius: 40px;
  }

  100% {
    scale: 1;
    border-radius: 100px;
  }
}
@keyframes confusedAnimation {
  25% {
    rotate: 10deg;
  }
  50% {
    rotate: -10deg;
  }

  100% {
    scale: 1;

    rotate: 0deg;
  }
}
